@page
@model Demo_VNPay.Pages.PaymentModel
@{
}

<h3 class="text-danger">@TempData["Error"]</h3>

<form method="post">
    FullName <input type="text" asp-for="PaymentRequest.FullName" />
    Description <input type="text" asp-for="PaymentRequest.Description" />
    Amount <input type="number" asp-for="PaymentRequest.Amount" />

    <button type="submit">Go bruhhh</button>
</form>